<template>
  <button v-on:click="submitBut(btnVal1,btnVal2);">{{btnLabel}}</button>
</template>

<script>
export default {
  props: {
    onClick: String,
    btnLabel: String,
    btnVal1: String,
    btnVal2: String,
  },
  methods: {
    submitBut: function(v1, v2) {
      alert("on a " + v1.value + " et " + v2.value );
    }
  }
};
</script>

<style type="text/css" scoped>
</style>
